
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> All Question</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Question</h2>
            <span class="text-light">Use the below form to Update Question</span>
        </div>

        <!-- add user form -->
         <!-- form handling -->
 <form method="POST" id="update_user">
    <div class="form-group">
        <label for="name" class="text-light">Formation</label>
        <input type="text" name="name" value="" placeholder="*">
    </div>
    <div class="form-group">
        <label for="Email" class="text-light">Personnalité</label>
        <input type="text" name="email" value="">

    </div>
    <div class="form-group">
        <label for="gender" class="text-light">Adequation</label>
        <input type="text" name="gender" value="" placeholder="*">
    </div>
    

    <div class="form-group">
        <label for="gender" class="text-light">Status</label>
        <div class="radio inline">
            <input type="radio" id="radio-4" name="status" value="Active" >
            <label for="radio-4" class="radio-label">Active</label>
        </div>
        <div class="radio inline">
            <input type="radio" id="radio-5" name="status" value="Inactive" >
            <label for="radio-5" class="radio-label">Inactive</label>
        </div>
    </div>
</form>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
