 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="domaine" class="text-light">domaine</label>
            <input type="text" name="domaine" value="" placeholder="*">
        </div>
        <div class="form-group">
            <label for="question" class="text-light">Question</label>
            <input type="text" name="question" value="">

        </div>


        <div class="form-group">
            <label for="gender" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Standard" >
                <label for="radio-4" class="radio-label">Standard</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value="Inédit" >
                <label for="radio-5" class="radio-label">Inédit</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>